{% extends './loggedInLayout.html'%}
{% load staticfiles %}

{%block sections%}
    <section style="padding-top:20px">
      <div class="row mb-4">
        <div class="col-lg-9 mb-0 mb-lg-0">
          <div class="card">
            <div class="card-header">
              <h2 class="h6 text-uppercase mb-0">Customers</h2>
            </div>
            <div class="card-body">
             <h1>body here</h1>

            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}