{% extends './loggedInLayout.html'%}
{% load staticfiles %}

{%block sections%}
    <section style="padding-top:20px">
      <div class="row mb-4">
        <div class="col-lg-9 mb-0 mb-lg-0">
          <div class="card">
            <div class="card-header">
              <h2 class="h6 text-uppercase mb-0">Tellers</h2>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <tr>
                  <td>Name</td>
                  <td>Bank Role</td>
                  <td>Branch</td>
                </tr>
                {%for teller in Tellers%}
                  <tr>
                    <td>{{teller}}</td>
                    <td>{{teller.bankrole}}</td>
                    <td>{{teller.branch}}</td>
                  </tr>
                {%endfor%}
              </table>


            </div>
          </div>
        </div>
      </div>
    </section>
    <a href="/newTeller"><button style="position:fixed; bottom: 50px; 
      display: inline-block; text-decoration: none; border: none; right: 50px; z-index: 1; font-size: 1.5em; border-radius: 100%; padding: 10px; height:50px; width:50px; background-color: red; color: white">+</button></a>
{%endblock%}