{% extends './loggedInLayout.html'%}
{% load staticfiles %}

{%block sections%}
    <section style="padding-top:20px">
      <div class="row mb-4">
        <div class="col-lg-9 mb-0 mb-lg-0">
          <div class="card">
            <div class="card-header">
              <h2 class="h6 text-uppercase mb-0" >Confirm {{type}}</h2>
            </div>
            <div class="card-body">
                <p>{{Msg}}</p>
                <div style="width:fit-content; float: left; margin-right: 10px; margin-bottom: 10px;">
                <h3>Customer Details</h3>
                <table border="1" cellpadding="10">
                  <tr><td><strong>Customer Name</strong></td><td>{{customerName}}</td></tr>
                  <tr><td><strong>Account balance</strong></td><td>UGX {{balance}}</td></tr>
                  <tr><td><strong>Mobile</strong></td><td>{{customerMobile}}</td></tr>
                  <tr><td><strong>Sex</strong></td><td>{{customerSex}}</td></tr>
                  <tr><td><strong>Account Type</strong></td><td>{{accountType}}</td></tr>
                  <tr><td><strong>Branch of Registration</strong></td><td>{{branchOfReg}}</td></tr>
                </table>
              </div>
              {%if type == 'Transfer'%}
              <div class="width:fit-content">
                <h3>Reciever Details</h3>
                <table border="1" cellpadding="10">
                    <tr><td><strong>Account Number</strong></td><td>{{reciever.accountNumber}}</td></tr>
                    <tr><td><strong>Reciever's Name</strong></td><td>{{reciever.name}}</td></tr>
                    <tr><td><strong>Mobile</strong></td><td>{{reciever.mobile}}</td></tr>
                    <tr><td><strong>Sex</strong></td><td>{{reciever.sex}}</td></tr>
                    <tr><td><strong>Account Type</strong></td><td>{{reciever.accountType}}</td></tr>
                    <tr><td><strong>Branch of Registration</strong></td><td>{{reciever.branchOfReg}}</td></tr>
                  </table>
                </div>
              {%endif%}

                <form method="POST" action={%url url %} style="margin-top:10px">
                  {%csrf_token%}
                  <input type="hidden" name="bankUser" value={{user.bankuser.id}}>
                  <input type="hidden" name="accountNumber" value={{accountNumber}}>
                  <input type="hidden" name="amount" value={{amount}}>
                  <div class="form-group">
                    <a href="{%url 'homePage'%}"><button type="button" class="btn btn-danger">No</button></a>       
                    <button type="submit" class="btn btn-success">Yes</button>
                  </div>
                </form>
                
                


            </div>
          </div>
        </div>
      </div>
    </section>
    
{%endblock%}