{% extends './loggedInLayout.html'%}
{% load staticfiles %}

{%block sections%}
    <section style="padding-top:20px">
      <div class="row mb-4">
        <div class="col-lg-9 mb-0 mb-lg-0">
          <div class="card">
            <div class="card-header">
              <h2 class="h6 text-uppercase mb-0" >Confirm</h2>
            </div>
            <div class="card-body">
                <p>{{Msg}}</p>
                <h3>Customer Details</h3>
                <table border="1" cellpadding="10">
                  <tr><td><strong>Customer Name</strong></td><td>{{customerName}}</td></tr>
                  <tr><td><strong>Account balance</strong></td><td>UGX {{balance}}</td></tr>
                  <tr><td><strong>Mobile</strong></td><td>{{customerMobile}}</td></tr>
                  <tr><td><strong>Sex</strong></td><td>{{customerSex}}</td></tr>
                  <tr><td><strong>Account Type</strong></td><td>{{accountType}}</td></tr>
                  <tr><td><strong>Branch of Registration</strong></td><td>{{branchOfReg}}</td></tr>
                </table>
    
                <form method="POST" action={%url 'initiateWithdraw'%} style="margin-top:10px">
                  {%csrf_token%}
                  <input type="hidden" name="bankUser" value={{user.bankuser.id}}>
                  <input type="hidden" name="accountNumber" value={{accountNumber}}>
                  <input type="hidden" name="amount" value={{amount}}>
                  <div class="form-group">
                    <a href="{%url 'homePage'%}"><button type="button" class="btn btn-secondary">Back</button></a>       
                    <button type="submit" class="btn btn-primary">Withdraw</button>
                  </div>
                </form>
                
                


            </div>
          </div>
        </div>
      </div>
    </section>
    
{%endblock%}